[Unit]
Description=Current Realm Directory Watcher
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/libexec/citadel-desktop-sync --all
ExecStart=/usr/bin/systemctl restart citadel-desktop-watcher.path
